{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Estudiantes - AppCoder
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-7">
                <h4>Los estudiantes son:</h4>
                <ul class="list-group">
                    {% for estudiante in estudiantes %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            {{ estudiante.nombre }} 
                            {{ estudiante.apellido }}
                            <span class="badge bg-success rounded-pill">{{ estudiante.email }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'crear_estudiante' %}"> + Ingresar nuevo Estudiante </a>
            </div>
        </div>
    </div>
        
</section>
{% endblock %}